* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1528px;
    width: 100%;
    padding: 0 20px 0 20px;
    margin: 0 auto;
}

button {
    border: none;
}

/* Variables */

:root {
    /* color variables */
    --body_color: #FCFAF7;
    --black: rgba(0, 0, 0, 0.87);
    --pink: #FE0150;
    --white: #FFF;

    /* font variables */
    --heading-font: "Marcellus", serif;
    --body-font: "DM Sans", sans-serif;
    --footer-font: "Roboto", sans-serif;

    /* Heading Color Variables */
    --primary_heading: rgba(0, 0, 0, 0.87);


    /* Body text color */
    --primary_text_color: rgba(0, 0, 0, 0.60);
}

body {
    background-color: var(--body_color);
}

/* Commom css start */

/* Heading */
.btn_icon {
    display: inline-flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid var(--black);
    color: var(--white);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    width: 177px;
    height: Hug (50px);
    padding: 12px, 30px, 12px, 30px;
    gap: 8px;

}

.project_heading {
    color: var(--primary_heading);
    font-size: var(--heading-font);
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: 116.7%;
    letter-spacing: -1.5px;
    text-transform: uppercase;

}

.section_heading {
    color: var(--primary_heading);
    font-family: var(--heading-font);
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 116.7%;


}

.sm_heading {
    color: var(--primary_heading);
    font-family: var(--heading-font);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0.15px;
}

.section_info {
    color: var(--primary_text_color);
    font-family: var(--body-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.15px;

}

.link_button {
    color: var(--primary_heading);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 175%;
    letter-spacing: 0.15px;
    font-family: var(--body-font);
    text-decoration: underline;
}

.sm_heading {
    color: var(--primary_heading);
    font-family: var(--heading-font);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 133.4%;
}

.sm_body {
    color: var(--primary_text_color);
    text-align: center;
    font-family: var(--body-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.15px;
}

.footer_body {
    color: #ABB5BA;
    font-family: var(--footer-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 143%;
    letter-spacing: 0.17px;

}

/* Header section */
.header_bar {
    padding: 21px 0 21px 0;
}

.nav_list {
    display: flex;
    gap: 40px;
}

.header_info {
    display: flex;
    justify-content: space-between;
}

.btn_container {
    padding: 12px 30px;
    background-color: #EAC07F;
    border-radius: 44px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.10), 0px 2px 2px 0px rgba(0, 0, 0, 0.07), 0px 3px 1px -2px rgba(0, 0, 0, 0.05);
    color: var(--body_color);
    font-size: 15px;
    font-family: var(--body-font);
}

.nav_bar_info {
    display: flex;
    gap: 54px;
    align-items: center;
}

a {
    color: var(--body_color);
}

.contact_btn {
    display: flex;
    align-items: center;
    gap: 8px;
}

.togle_icon {
    display: none;
}

/* Banner section */


.section_column {
    display: flex;
    gap: 66px;
}

.retreat {
    text-align: center;
}

.retreat_content {
    display: grid;
    gap: 50px;
}

.sec_column {
    gap: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
}

.link_button {
    margin-top: 100px;
}

.section_healing {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    text-align: justify;
}

.section_sec_column {
    display: flex;
    gap: 225px;
    margin-top: 50px;
}

.video_section {
    margin-top: 100px;
}

.video_section img {
    display: block;
    max-width: 100%;
    width: 100%;
}

.video {
    position: relative;
}

.icon_btn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

.testimony_card {
    max-width: 476px;
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
}

.testimony_card img {
    max-width: 100%;
}

.sec_column {
    position: relative;
}

.sec_column:after {
    content: "";
    background: url("./images/flowers.png");
    position: absolute;
    top: -31%;
    right: 0;
    width: 200px;
    height: 200px;
}

span {
    position: relative;
}

.leaf_img {
    position: relative;
}

.leaf_img::after {
    content: "";
    background: url('./images/leaf.png');
    position: absolute;
    height: 150px;
    width: 150px;
    transform: rotate(24deg);

}

.testimony_section {
    background-color: #E1DED6;
    margin-top: 100px;

}

.testimony {
    display: flex;
    gap: 30px;
    margin-bottom: 100px;
}

.testimony_container {
    display: grid;
    gap: 50px;
    padding-top: 100px;
}

.highly_section {
    margin-top: 100px;
    /* display: grid; */
    /* gap: 50px; */
}

.itinery_section {
    display: flex;
    gap: 96px;
    margin-top: 100px;
}

.retreat_section {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.highly_card{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.card_info{
    text-align: center;
    padding: 20px;
}


























/* Footer section */

/* .upper_footer{
  display: flex;
  gap: 10px;
  margin-bottom: 50px;
} */
.footer_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer_section {
    background-color: black;
}

.text_color {
    color: #ABB5BA;
    font-size: 16px;
}

.footer_contact {
    display: flex;
    gap: 15px;
    align-items: center;
}

/* .middle_footer{
display: flex;
display: flex;
gap: 18px;
justify-content: space-between;
} */


.footer_divider {
    height: 1px;
    max-width: 313px;
    width: 100%;
    background-color: #ABB5BA;
    display: block;
    border-radius: 5px;
}

.column_heading {
    color: #FFFFFF;
}

.column_content {
    max-width: 311px;
    width: 100%;
}

.first_column {
    display: grid;
    gap: 15px;
}

.third_column_info {
    max-width: 417px;
    width: 100%;
}

input {
    max-width: 411px;
    width: 100%;
    text-align: start;
    background: black;
    border: 1px solid #ABB5BA;
    border-radius: 44px;
    padding: 12px;
    margin-bottom: 20px;
}

.third_column {
    display: grid;
    gap: 50px;
}

.join {
    background-color: #EAC07F;
    max-width: 231px;
    width: 100%;
    padding: 12px 30px;
    border-radius: 44px;
    color: #FFFFFF;

}

.second_column {
    display: grid;
}

.community {
    text-align: end;
}

.footer_dividerII {
    height: 1px;
    background-color: #ABB5BA;
    display: block;
    border-radius: 5px;
    margin-top: 40px;
}

.lower_footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding-bottom: 40px;
}

.footer_content {
    display: flex;
    gap: 20px;
}

.upper_info {
    display: flex;
    gap: 10px;
    align-items: center;
}

.upper_footer {
    display: grid;
    gap: 50px;
}

.footer_sections {
    display: grid;
    grid-template-columns: auto auto auto;
    padding-top: 100px;
    justify-content: space-between;
}


@media screen and (max-width:768px) {
    .nav_list {
        display: none;
    }

    .togle_icon {
        display: block;
    }

    svg {
        margin: 0 auto;
    }

    .nav_bar {
        display: none;
    }

    .header_info {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .nav_bar_info {
        display: flex;
        justify-content: space-between;
    }

    .footer_sections {
        display: flex;
        flex-direction: column;
        gap: 60px;
    }

    .second_column {
        gap: 15px;
    }

    input {
        max-width: 345px;
        width: 100%;
    }

    .join {
        max-width: 345px;
        width: 100%;
    }

    .community {
        text-align: justify;
    }

    .lower_footer {
        display: grid;
        gap: 30px;
    }

    .first_column {
        justify-items: baseline;
        margin-left: initial;
    }

    .footer_divider {
        max-width: 100%;
    }

    .section_column {
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
    }

    .retreat_content {
        gap: 30px;
    }

    .link_button {
        margin-top: 20px;
    }

    .section_sec_column {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .section_healing {
        gap: 15px;
    }

    /* .highly_heading{
    max-width: 375px;
    width: 100%;
} */
}