* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


ul li {
    list-style: none;
}
a {
    text-decoration: none;
}

.container {
    max-width: 1528px;
    width: 100%;
    padding: 0 20px 0 20px;
    margin: 0 auto;
}
button {
    border: none;
}
/* Variables */

:root{
    /* color variables */
    --body_color:#FCFAF7;
    --black: rgba(0, 0, 0, 0.87);
    --pink: #FE0150;
    --white:#FFF;

    /* font variables */
    --heading-font: "Marcellus", serif;
    --body-font: "DM Sans", sans-serif;
    --footer-font:"Roboto", sans-serif;

   /* Heading Color Variables */
        --primary_heading:rgba(0, 0, 0, 0.87);
       
    
    /* Body text color */
    --primary_text_color: rgba(0, 0, 0, 0.60);
}
 body{
    background-color: var(--body_color);
}
/* Commom css start */

/* Heading */

.project_heading{
    color: var(--primary_heading);
    font-size: var(--heading-font);
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: 116.7%; 
    letter-spacing: -1.5px;
    text-transform: uppercase;

}
.section_heading{
    color: var(--primary_heading);
    font-family: var(--primary_heading);
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 116.7%; 
    

}
.sm_heading{
    color: var(--primary_heading);
    font-family: var(--heading-font);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; 
    letter-spacing: 0.15px;
}
.section_info{
    color: var(--primary_text_color);
    font-family:var(--body-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.15px;

}
.link_button{
    color: var(--primary_heading);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 175%; 
    letter-spacing: 0.15px;
    font-family: var(--body-font);
}
.sm_heading{
    color: var(--primary_heading);
    font-family: var(--heading-font);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 133.4%;
}
.sm_body{
    color: var(--primary_text_color);
    text-align: center;
    font-family: var(--body-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
    letter-spacing: 0.15px;
}
.footer_body{
    color: var(--white);
    font-family: var(--footer-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 143%; 
    letter-spacing: 0.17px;

}


/* Header section */
.header_bar{
    padding: 21px 0 21px 0;
}
.nav_list{
    display:flex;
    gap: 40px;
}
.header_info{
    display: flex;
    justify-content: space-between;
}
.btn_container{
    padding: 12px 30px;
    background-color: #EAC07F;
    border-radius: 44px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.10), 0px 2px 2px 0px rgba(0, 0, 0, 0.07), 0px 3px 1px -2px rgba(0, 0, 0, 0.05);
    color: var(--body_color);
    font-size: 15px;
    font-family: var(--body-font);
}
.nav_bar_info{
display: flex;
gap: 54px;
align-items: center;
}
a{
    color: var(--body_color);
}
.contact_btn{
    display: flex;
    align-items: center;
    gap: 8px;
}
.togle_icon{
    display: none;
}

/* Footer section */

.upper_footer{
  display: flex;
  gap: 10px;
  margin-bottom: 50px;
}
.footer_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer_container{
    background-color: black;
}
.text_color{
    color:#FFF
}
.footer_contact{
    display: flex;
    gap: 15px;
    align-items: center;
}
.middle_footer{
display: flex;
flex-direction: column;
gap: 18px;
}


.footer_divider {
    height: 1px;
    max-width: 21%;
    width: 100%;
    background-color: #ABB5BA;
    display: block;
}




@media screen and (max-width:768px) {
   .nav_list{
    display: none;
   }
   .togle_icon{
    display: block;
   }
   svg{
    margin: 0 auto;
   }
   .nav_bar{
    display: none;
   }
  .header_info{
     display: flex;
     flex-direction: column;
     gap: 30px;
  }
  .nav_bar_info{
    display: flex;
    justify-content: space-between;
}
  }

